<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MPSCC911</display-name>
  <context-param>
    <param-name>passwordMaxAttempts</param-name>
    <param-value>5</param-value>
  </context-param>
  <env-entry>
    <env-entry-name>passwordMaxAttempts</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>5</env-entry-value>
  </env-entry>
  
  <security-constraint>
	<web-resource-collection>
		<web-resource-name>Home</web-resource-name>
		<url-pattern>/home.jsp</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
  
  <security-constraint>
	<web-resource-collection>
		<web-resource-name>Shop</web-resource-name>
		<url-pattern>/shop.jsp</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
  
  <security-constraint>
	<web-resource-collection>
		<web-resource-name>Cart</web-resource-name>
		<url-pattern>/cart.jsp</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
  
  <security-constraint>
	<web-resource-collection>
		<web-resource-name>Checkout</web-resource-name>
		<url-pattern>/checkout.jsp</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
  
  <security-constraint>
	<web-resource-collection>
		<web-resource-name>Confirmation</web-resource-name>
		<url-pattern>/confirmation.jsp</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
  </security-constraint>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>